<!DOCTYPE html>
<html>
  <head>
    <title>dumpscribe browser</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.timeago.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/grapnel.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
  </head>
  <script id="notebook-summary-template" type="text/templatedata">
    <div class="notebook-summary">
      <input type="hidden" class="id" value="<%- id %>"/>
      <h3><%= name %></h3>
      <ul>
        <li>Last updated: <%- $.timeago(date) %></li>
        <li>Pages: <%- pages.length + 1 %></li>
        <li>Audio files: <%- audio.length %></li>
      </ul>
    </div>
  </script>
  <script id="page-template" type="text/templatedata">
    <div class="page">
      <a href="<%- encodeURI(pdf) %>">
        <img src="<%- encodeURI(thumbnail) %>" />
      </a>
      <div class="number-caption">Page <%- number + 1 %></div>
      <div class="date-caption">Last updated <%- $.timeago(date) %></div>
      <% if(recordings && (recordings.length > 0)) { %>
        <ul>
          <% _.each(recordings, function(recording) { %>
            <li><a href="<%- encodeURI(recording.path) %>">Recording from <%- $.timeago(recording.date) %> (<%- moment(recording.date).format("MMMM Do YYYY, h:mm:ss a") %>) - <%- moment.unix(recording.duration).utc().format("H:m:s") %> duration</a></li>
          <% }); %>
        </ul>        
      <% } %>
    </div>
  </script>
  <script id="change-name-template" type="text/templatedata">
    <h3>Changing name of notebook with id: <%- notebook_id %></h3>
    <form>
      <input type="hidden" name="id" value="<%- notebook_id %>" /><br/>
      <label for="name">New notebook name: </label><br/>
      <input type="text" name="name" /><br/>
      <label for="name">Admin password: </label><br/>
      <input type="password" name="password" /><br/>
      <input type="submit" value="Save">
    </form>
  </script>
  <body>
    <div id="flash"></div>
    <h1 id="pagetitle"></h1>
    <div id="extra"></div>
    <div id="container">
      If this text does not go away then your browser does not support javascript.
    </div>
  </body>
</html>
